.singlepost {
    flex: 9;
}


.single-post-wrap {
    padding: 20px;
    padding-right: 0;
}

.single-post-image {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;


}



.single-post-title-with-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-family: 'Lora', serif;
    /* background-color: red; */

}


.single-post-edit {
    float: right;
    font-size: 16px;
    /* bckground: red;a */

}

.single-post-icon {
    margin-left: 10px;
    cursor: pointer;
}

.single-post-icon:first-child {
    color: teal
}

.single-post-icon:last-child {
    color: tomato;
}

.edit-post-info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #b39656;
    font-family: 'Varela Round', sans-serif;
}

.single-post-description {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.single-post-description::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

/* EDIT STTYLE SECTION  */

.single-post-title-input {
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    border: none;
    text-align: center;
    color: lightgray;
    border-bottom: 1px solid gray;
}

.single-post-title-input:focus {
    outline: none;
}

.single-post-description-input {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
}


.single-post-description-input:focus {
    outline: none;
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.singlePost-Button {
    border: none;
    padding: 10px;
    color: white;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 250ms;
    margin-top: 20px;


}


.singlePost-Button:hover {

    transform: translateY(-10px);
}