.post {
    width: 385px;
    margin: 0px 25px 40px 25px;
}

.post-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
    padding: 10px;
}

.post-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .post-catergorys {
    background-color: red;
} */

.post-cat {
    font-family: 'Varela Round', sans-serif;
    font-size: 11px;
    color: #be9655;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.post-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}

.post-Date {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 15px;
}

.post-description {
    font-family: 'Varela', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;


}