.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)), url("https://images.pexels.com/photos/2922672/pexels-photo-2922672.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: 100%;
    align-items: center;
    position: relative;
}

.register-title {
    font-size: 50px;
}

.register-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.register-form>label {
    margin: 10px 0;
}

.register-input {
    padding: 10px;
    background-color: white;
    border: none;
}

.register-button {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.login-button {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 10px;
}