.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)), url("https://images.pexels.com/photos/23547/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: 100%;
    position: relative;
    align-items: center;
}

.login-title {
    font-size: 50px;
}

.login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.login-form>label {
    margin: 10px 0;
}

.login-input {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.loginButton:disabled {
    cursor: not-allowed;
    background-color: coral;
}

.rigister-button {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 10px;
}