.home {

    display: flex;
    /* justify-content: space-between; */
}

.need-upload-post {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.need-upload-post h4 {
    color: red;
    font-family: 'Varela Round', sans-serif;
    font-weight: 800;
    font-size: 50px;
    border-bottom: 1px solid gray;
}