.sidebar {
    width: 100%;
    flex: 3;
    margin: 20px;
    padding-bottom: 10px;
    background: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.sidebar-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 15px;

}

.sidebar-item p {
    padding: 30px;
}

.sidebar-title {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela', sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebar-list {
    list-style: none;
    margin-bottom: 30px;
}

.sidebar-list-item {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-top: 15px;
}

.sidebar-social {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-icon {
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}