.header {
    margin-top: 60px;
}

.header-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
    position: relative;
}

.header-title-small {
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.header-title-large {
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.header-img {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}